.article {
  max-width: 1300px;
  margin: 0;
  padding: 0;
}
.detailed-article {
  max-width: 1100px;
  margin: 0 auto;
}
#article-img {
  width: 100%;
}
#article-title {
  color: #333;
}
#article-content {
  color: #333;
}
.custom-arrow {
  font-size: 24px;
  color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.custom-left-arrow {
  left: 10px;
}

.custom-right-arrow {
  right: 10px;
}
