/* DetailedBlog.css */

.detailed-blog {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.detailed-blog img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.detailed-blog h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.detailed-blog p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}
